<?xml version="1.0"?>
<model>
  <name>my_robot</name>
  <version>1.0</version>
  <sdf version="1.6">model.urdf</sdf>
  <author>
    <name>wb</name>
    <email>1878087979@qq.com</email>
  </author>
  <description>
    A differential drive mobile robot with laser scanner for Gazebo simulation.
  </description>
</model>
